.search-form {
  display: flex;
  justify-content: space-between;
  justify-items: start;
  align-items: start;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: var(--white-color);
  margin-bottom: 5px;
}

.search-form__label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid var(--white-color);
  outline-offset: 2px;
}

.search-form__label-text {
  margin: 0 0 5px 0;
}

.search-form__textfield {
  appearance: none;
  cursor: text;
  width: 225px;

  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.7);

  background-color: transparent;

  border-width: 1px 0px;
  border-style: solid;
  border-color: var(--white-color);
  padding: 2.5px 0;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  border-width: 0;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label-text:hover,
.search-form__pseudo-checkbox:hover {
  cursor: pointer;
  text-decoration: underline;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  margin-right: 5px;
  border: 1px solid var(--white-color);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type='checkbox']:checked + .search-form__pseudo-checkbox::before {
  display: block;
  content: '';
  width: 15px;
  height: 15px;
  background-color: var(--white-color);
}
